/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url(../images/bg-desktop.svg) no-repeat ;
    background-position: -110px;
    background-color: var(--Violet);
    color: #fff;
    height: 94vh;

}

.container .cabecalho .logo {
    width: 206px;
    height: 45px;
    margin-left: 65px;
    margin-top: 22px;
    margin-bottom: 40px;
}

.container .conteudo {
    display: flex;
    align-items: center;
    gap: 50px;
}

.container .conteudo .image img {
    margin: 0 0 0 78px;
    width: 580px;
}

.container .conteudo .info {
    padding-right: 35px;
    
}

.container .conteudo .info h1 {
   font-size: 40px;
   margin:-50px 0 42px 0;
   font-weight: 600;
}

.container .conteudo .info p {
    font-size: 16.5px;
    margin-bottom:30px;
    line-height: 30px;
    font-weight: 400;
}

.container .conteudo .botao {
    color: var(--Violet);
    padding: 15px 60px;
    border-radius: 36px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.container .conteudo .botao:hover {
    color: #fff;
    background-color: var(--Soft-Magenta);
    font-weight: 400;
}

.container footer {
    display: flex;
    justify-content: end;
    margin: 0 20px 5px 0;

}

.container footer a {
    padding: 0 15px 40px 0;
    opacity: 0.8;
}

.container footer a i {
    border: solid 2px;
    border-radius: 50%;
    padding: 10px ;
    font-size: 18px;
    width: 45px;
    height: 45px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.container footer a i:hover {
    color: violet;

}
















 